<ion-content>

  <div class="p-5 flex flex-col justify-center h-full items-center bg-neutral-700">

    <img class="w-[150px] h-[65px] mb-5 mt-5" src="../../assets/rapidLogo.webp" alt="rapidmotos_logo">

    <p class="text-2xl m-7 font-bold">APP INCIDENCIAS</p>

    <div class="flex flex-col gap-5 w-full">

      <ion-input labelPlacement="stacked" placeholder="Usuario" class="custom-input" type="text" fill="outline">
        <ion-icon slot="start" class="text-red-600" name="person" aria-hidden="true" size="large"></ion-icon>
      </ion-input>

      <ion-input class="custom-input" placeholder="Contraseña" fill="outline" type="password">
        <ion-icon slot="start" size="large" name="lock-closed" class="text-red-600"></ion-icon>
      </ion-input>
    </div>

    <ion-button class="p-2 m-8 font-bold text-white w-full">
      Iniciar Sesión
    </ion-button>
  </div>
</ion-content>
