<ion-content>

  <div class="p-5 flex flex-col justify-center h-full items-center bg-neutral-700">

    <img class="w-[150px] h-[65px] mb-5 mt-5" src="../../assets/rapidLogo.webp" alt="rapidmotos_logo">

    <p class="text-2xl m-7 font-bold text-white">APP INCIDENCIAS</p>

    <div [formGroup]="formLogin" class="flex flex-col gap-5 w-full text-white">

      <ion-input labelPlacement="stacked" placeholder="Usuario" class="custom-input" type="text" fill="outline" formControlName="userName">
        <ion-icon slot="start" class="text-red-600" name="person" aria-hidden="true"></ion-icon>
      </ion-input>

      <ion-input id="afa" labelPlacement="stacked" class="custom-input" placeholder="Contraseña" fill="outline" type="password" formControlName="password">
        <ion-icon slot="start" name="lock-closed" class="text-red-600"></ion-icon>
      </ion-input>

      @if (failedLogin) {
        <p class="text-red-600 text-center font-bold text-lg">No se ha podido iniciar sesión.</p>
      }
    </div>

    <ion-button
      (click)="login()"
      size="large"
      class="pt-2 m-10 font-bold text-white w-full">
      Iniciar Sesión
    </ion-button>
  </div>
</ion-content>
