<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="https://tarifador.rapidmotos.com/storage/logos/logo.webp" alt="rapid" width="150">

    @if (photos.length > 0) {
      <ion-button class="p-2 font-bold text-white" slot="end" shape="round">
        Enviar
        <ion-icon name="send"></ion-icon>
      </ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (photos.length > 0) {
    <div class="grid grid-cols-2 align-middle place-items-center">
      @for (photo of photos; track $index) {

        <app-image-card (click)="deletePicture($index)" [image]="photo"/>
      }
    </div>
  }

</ion-content>
